body {
    font-family: "Times New Roman", Times, serif;
    margin:5;
    padding: 3;
    background-color: white;
    border:5px;
    border-style: solid;
    border-width: 5px;
    }
h2{
    color:black;
    font-family: "Times New Roman", Times, serif;
    padding: 5;
}
img {  
    float: left; 
    margin-right: 10px;

  } 